h1{
    font-size: 40px;
    font-style: italic;
    text-shadow: -1px -1px darkslategrey, 1px 1px antiquewhite, -3px 0 4px darkslategrey;
    font-family:Arial, Helvetica, sans-serif;
    color: gold;
    padding:16px;
    font-weight:lighter;
    -moz-box-shadow: 2px 2px 6px #888;
    -webkit-box-shadow: 2px 2px 6px #888;
    box-shadow:2px 2px 6px #888;
    text-align:center;
    display:block;
    margin:16px;
    background-image:url(../resources/Pages/home/Background-Music-4.jpg);
}


.userdisc {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.disclist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px 50px;
  list-style-type: none;
  max-height: 5%;
  background-color: antiquewhite;
}


.disclist li a img {
    max-width: 355px;
    max-height: 355px;
}

.disclist li a {
    text-decoration: none;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.describedisc {
    text-align: left;
}


#navPagination {
    padding-left: 45%;
}

.pagination li {
    display: inline-block;
    list-style-type: none;
}

.pagination a {
    color: whitesmoke;
    float: left;
    padding: 25px 15px;
    text-decoration: none;
}

.page-link a:active {
    background-color: #4CAF50;
    color: whitesmoke;
}





